<div class="container w-75 mt-5 rounded">
    <div class="row alig-items-stretch">
        <div class="col p-5 formu">
            <h2 class="fw-bold text-center py-5">REGISTRO</h2>
            <!-- Login -->
            <form action="#">
                <div class="mb-4">
                    <input type="text" class="form-control" placeholder="Ingresa tu nombre*">
                </div>

                <div class="mb-4">
                    <input type="text" class="form-control" placeholder="Ingresa tu apellido*">
                </div>

                <div class="mb-4">
                    <input type="email" class="form-control" placeholder="Ingresa tu correo*">
                </div>

                <div class="mb-4">
                    <input type="text" class="form-control" placeholder="Ingresa tu edad*">
                </div>

                <div class="mb-4">
                    <input type="password" class="form-control" placeholder="Ingresa una contraseña*">
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        He leído todos los términos y condiciones y la politica de los datos personales
                    </label>
                </div>

                <div class="col-md-6 offset-md-5">
                    <button type="submit" class="btn btn-secondary">Registrarse</button>
                </div>
            </form>
        </div>

        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            <img src="assets/images/Registro.jpeg" alt="">
        </div>
    </div>
</div>
