<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <div class="container">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" [routerLink]="['/rutinas/RutinaPrincipiante']"
                    class="btn btn-primary">Rutinas</button>
                <button type="button" [routerLink]="['/desafio/DesafioPrincipiante']"
                    class="btn btn-primary">Desafios</button>
            </div>
        </div>

        <div class="d-flex align-items-center">
            <!-- Utilizamos d-flex y align-items-center para alinear verticalmente los elementos dentro de este div -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Nivel
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" [routerLink]="['/rutinas/RutinaPrincipiante']">Principiante</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/rutinas/RutinaIntermedio']">Intermedio</a></li>
                    <li><a class="dropdown-item" [routerLink]="['/rutinas/RutinaAvanzado']">Avanzado</a></li>
                </ul>
            </div>
        </div>

        <button type="button" class="btn btn-primary" style="margin-left: auto;">
            <a class="perfil" [routerLink]="['/perfil']">Perfil</a>
        </button>
    </div>

    <div style="text-align: center;">
        <h1>RUTINAS - NIVEL AVANZADO</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <video src="assets/images/Video9.mp4" controls id="fm-video"></video>
                <div class="card-body">
                    <h5 class="card-title">Ejercicios Fuerza en Pareja (Parte5)</h5>
                    <p class="card-text">Este vídeo presenta 12 ejercicios básicos para fortalecer la FUERZA.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <video src="assets/images/Video10.mp4" controls id="fm-video"></video>
                <div class="card-body">
                    <h5 class="card-title">Ejercicios Fuerza en Pareja (Parte6)</h5>
                    <p class="card-text">Los ejercicios que aparecen en el vídeo han sido ejecutados por Jóvenes</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <video src="assets/images/Video11.mp4" controls id="fm-video"></video>
                <div class="card-body">
                    <h5 class="card-title">Flexiones de brazo con salto</h5>
                    <p class="card-text">Un desafío de alta dificultad donde se requiere habilidad y sobretodo mucha
                        fuerza de la musculatura implicada en el movimiento.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <video src="assets/images/Video12.mp4" controls id="fm-video"></video>
                <div class="card-body">
                    <h5 class="card-title">Plancha abdomina</h5>
                    <p class="card-text">Realizar plancha abdominal durante un minuto.</p>
                </div>
            </div>
        </div>
    </div>
</div>
