<header class=" text-white text-center py-5 position-relative" style="width: 100%;">
    <div class="container">
        <!-- Título superpuesto sobre la Imagen -->
        <h1 class="display-4 mt-3 position-absolute top-50 start-50 translate-middle text-center titulo">Friendly Fitness</h1>
        <!-- Imagen que ocupa todo el ancho de la pantalla de manera responsiva -->
        <img src="assets/images/inicio-encabezado.jpg" alt="Imagen Fitness" class="img-fluid mx-auto d-block">
    </div>
</header>

<!-- Contenido Principal -->
<div class="container my-5">
    <div class="row">
        <!-- Párrafo a la Izquierda -->
        <div class="col-md-6">
            <p>
                Bienvenido a Friendly Fitness, tu destino para un estilo de vida activo y saludable. Nos dedicamos a
                brindarte
                la mejor experiencia de fitness, donde la amabilidad y el bienestar se encuentran.
            </p>
            <p>
                Nuestros programas están diseñados para adaptarse a todas las edades y niveles de condición física. Ya
                sea que
                estés buscando mejorar tu fuerza, perder peso o simplemente disfrutar de un ambiente amigable, ¡estás en
                el lugar
                correcto!
            </p>
        </div>

        <!-- Imagen a la Derecha -->
        <div class="col-md-6">
            <img src="assets/images/inicio.jpg" alt="Otra Imagen Fitness" class="img-fluid">
        </div>
    </div>
</div>