<div class="container w-75 mt-5 rounded">
    <div class="row alig-items-stretch">
        <div class="col p-5 formu">
            <h2 class="fw-bold text-center py-5">Bienvenido</h2>
            <!-- Login -->
            <form action="#">
                <div class="mb-4">
                    <label for="email" class="form-label">Correo electronico</label>
                    <input type="email" class="form-control" name="email">
                </div>

                <div class="mb-4">
                    <label for="contraseña" class="form-label">Contraseña</label>
                    <input type="email" class="form-control" name="contraseña">
                </div>

                <div class="mb-4">
                    <a href="#">¿Restablecer contraseña?</a>
                </div>

                <div class="col-md-6 offset-md-5">
                    <button type="submit" class="btn btn-secondary">Iniciar Sesion</button>
                </div>
            </form>
        </div>

        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            <img src="assets/images/iniciarSesion.jpg" alt="">
        </div>
    </div>
</div>
