<div class="container mt-5">
    <h1 class="mb-4">Foro de Discusión</h1>

    <!-- Botón "Crear Publicación" -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#crearPublicacionModal">
        Crear Publicación
    </button>
    <br>
    <button type="button" class="btn btn-primary mb-3">
        <a class="publicaciones" [routerLink]="['/misPublicaciones']">Mis Publicaciones</a>
    </button>

    <div class="modal fade" id="crearPublicacionModal" tabindex="-1" role="dialog"
        aria-labelledby="crearPublicacionModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="crearPublicacionModalLabel">Crear Publicación</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulario para crear publicación -->
                    <form>
                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Ingrese el título">
                        </div>
                        <div class="form-group">
                            <label for="contenido">Contenido</label>
                            <textarea class="form-control" id="contenido" rows="4"
                                placeholder="Ingrese el contenido"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary publicar">Publicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Ejemplo de una publicación -->
    <div class="card mt-4 publicacion">
        <div class="card-body">
            <img src="assets/images/Perfil.jpeg" alt="Imagen del usuario" class="img-fluid rounded-circle"
                style="max-width: 50px;">
            <h5 class="card-title">Emilyn Sanchez</h5>
            <p class="card-text">Fecha de publicación: 20 de noviembre de 2023</p>
            <p class="card-text">Quiero llevarte a mi viaje personal, donde el ejercicio grupal se convirtió en mucho
                más que una simple rutina de fitness. Desde la primera clase, supe que esto sería algo especial, algo
                que iría más allá de las repeticiones y los estiramientos.

                El ejercicio grupal me ofreció una comunidad, un grupo de personas con objetivos similares y una pasión
                por la salud y el bienestar. Juntos, nos apoyamos mutuamente a medida que enfrentamos los desafíos y
                celebramos los logros. No éramos solo individuos haciendo ejercicio; éramos un equipo comprometido con
                nuestro crecimiento personal.

                La conexión social que experimenté en estas sesiones fue inspiradora. Pasamos de ser compañeros de clase
                a amigos que comparten risas, historias y metas. La energía positiva en el grupo se convirtió en una
                fuente constante de motivación, y cada sesión se convirtió en una oportunidad para construir relaciones
                significativas.</p>

            <!-- Comentarios -->
            <div class="mt-3">
                <h5>Comentarios</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Paolo Vizconde Diaz</strong>
                        <p>Realmente interesante</p>
                    </li>
                    <!-- Agrega más comentarios según sea necesario -->
                </ul>
            </div>
        </div>
    </div>

    <div class="card mt-4 publicacion">
        <div class="card-body">
            <img src="assets/images/Perfil.jpeg" alt="Imagen del usuario" class="img-fluid rounded-circle"
                style="max-width: 50px;">
            <h5 class="card-title">Leonardo Hilario</h5>
            <p class="card-text">Fecha de publicación: 20 de noviembre de 2023</p>
            <p class="card-text">Hoy quiero compartir mi experiencia personal con el ejercicio grupal, una travesía que
                ha transformado mi enfoque hacia el bienestar. Sumergirme en clases de ejercicio en grupo no solo ha
                sido un desafío físico, sino también un viaje emocional y social que ha enriquecido mi vida de maneras
                inesperadas.

                Desde la primera clase, me di cuenta de que el ejercicio grupal va más allá de los simples movimientos
                físicos. Es una oportunidad para conectarse con otras personas que comparten objetivos similares.
            </p>

            <!-- Comentarios -->
            <div class="mt-3">
                <h5>Comentarios</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Emilyn Sanchez</strong>
                        <p>Me parece interesante</p>
                    </li>
                    <!-- Agrega más comentarios según sea necesario -->
                </ul>
            </div>
        </div>
    </div>
</div>